<div class="container">
    <div class="d-flex flex-column justify-content-md-center align-items-center vh-100 ">
        <h1>{{ quote.quote }}</h1>
        <div>
            <h2><b>{{ quote.author }}</b> - <b>{{ quote.source }}</b></h2>
        </div>
    </div>
</div>